<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hacker News Clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav navbar-nav navbar-left">
					<li><%= link_to "Hacker News Clone", root_path %></li>
				</ul>
				<div class="pull-right">
					<% if user_signed_in? %>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to 'New Link', new_link_path %></li>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Sign Out</a></li>
					</ul>
					<% else %>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Sign In</a></li>
						<li><a href="#">Sign Up</a></li>
					</ul>
					<% end %>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<div class="col-md-9 col-md-offset-2 center-bock">
			<%= yield %>
		</div>
	</div>

</body>
</html>
