<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hacker News Clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav navbar-nav navbar-left">
					<li><%= link_to "Hacker News Clone", root_path %></li>
				</ul>
				<div class="pull-right">
					<% if user_signed_in? %>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to 'New Link', new_link_path %></li>
						<li><%= link_to 'My Account', edit_user_registration_path %></li>
						<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
					</ul>
					<% else %>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to 'Sign In', new_user_session_path %></li>
						<li><%= link_to 'Sign Up', new_user_registration_path %></li>
					</ul>
					<% end %>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="col-md-9 col-md-offset-2 center-bock">
		<% if notice %>
		<p class="notice"><%= notice %></p>
		<% end %>
		<% if alert %>
		<p class="alert"><%= alert %></p>
		<% end %>
			<%= yield %>
		</div>
	</div>

</body>
</html>
